@using ARPEG.Spot.Trader.Config
@namespace ARPEG.Spot.Trader.UI.Components

@if (BitOutput != null && BitHandlers is not null && GoodWees is not null)
{
    <div class="card">
        <div class="card-body">
            <label>Logika</label>
            <InputSelect @bind-Value="BitOutput.DriverType">
                @foreach (var handler in BitHandlers)
                {
                    <option value="@handler">@handler</option>
                }
            </InputSelect>

            <label>GW</label>
            <InputSelect @bind-Value="BitOutput.GwSn">
                @foreach (var sn in GoodWees)
                {
                    <option value="@sn">@sn</option>
                }
            </InputSelect>

            <label>Zapni když je </label>
            <InputSelect @bind-Value="BitOutput.GreaterThen">
                <option value="true">větší než</option>
                <option value="false">menší než</option>
            </InputSelect>
            <InputNumber @bind-Value="BitOutput.TriggerValue"></InputNumber>

            <label>a vypni když je </label>
            @if (BitOutput.GreaterThen)
            {
                <text>menší než</text>
            }
            else
            {
                <text>větší než</text>
            }
            <InputNumber @bind-Value="BitOutput.TriggerValueOff"></InputNumber>
        </div>
    </div>
}

@code {

    [Parameter]
    [EditorRequired]
    public BitOutputOptions BitOutput { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public IEnumerable<string> GoodWees { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public IEnumerable<string> BitHandlers { get; set; } = null!;

}