@page "/"
@using ARPEG.Spot.Trader.Integration
@using ARPEG.Spot.Trader.Services

<PageTitle>ARPEG spot trader</PageTitle>

<h1>ARPEG spot trader</h1>

@if (Configuration is not null)
{
    <EditForm Model="@Configuration" OnValidSubmit="Save" disabled>
        @* <div class="card"> *@
        @*     <div class="card-body"> *@
        @*         <label>Obchodovat na burze (Není aktivní, pokud máte SPOT licenci)</label> *@
        @*         <InputCheckbox @bind-Value="Configuration.Grid.TradeEnergy"></InputCheckbox> *@
        @* *@
        @*         <label>Nabíjecí výkon</label> *@
        @*         <InputNumber @bind-Value="Configuration.Grid.ChargePower"></InputNumber> *@
        @* *@
        @*         <label>Export limit</label> *@
        @*         <InputNumber @bind-Value="Configuration.Grid.ExportLimit"></InputNumber> *@
        @*     </div> *@
        @* </div> *@

        <div class="card">
            
            <span>Aktuální cena na spotu je <span style="font-weight: bold">@CurrentPrice €/MWh</span></span>
            @if (GwStore.GoodWes.Any(x => x.Licence.HasFlag(LicenceVersion.ManualBattery)))
            {
                <div>
                    <label>Nabíjení baterie </label>
                    <InputCheckbox @bind-Value="Configuration.ManualBatteryConfig.Charge"/>
                    <label>Maximální cena pro nabíjení baterie ze sítě</label>
                    <InputNumber @bind-Value="Configuration.ManualBatteryConfig.MaxPriceForCharge"/>€/MWh
                </div>
                <div>
                    <label>Vybíjení baterie </label>
                    <InputCheckbox @bind-Value="Configuration.ManualBatteryConfig.Discharge"/>
                    <label>Minimální cena pro vybíjení baterie do sítě </label>
                    <InputNumber @bind-Value="Configuration.ManualBatteryConfig.MinPriceForDischarge"/>€/MWh
                </div>
                <button type="submit">Uložit</button>
            }
            else
            {
                <H2>Obchodovat s baterií je dostupné jen s licencí ManualBattery</H2>
            }</div>
        <div class="card">
            @if (GwStore.GoodWes.Any(x => x.Licence.HasFlag(LicenceVersion.ManualBattery)))
            {
                <div>
                    <h5>Aktuální ruční ovládání pro tuto hodinu:
                        @switch (CurrentDirection)
                        {
                            case NowManualBatteryService.BatteryChargeDirection.None:
                                <text> Neaktivní </text>
                                break;
                            case NowManualBatteryService.BatteryChargeDirection.Charge:
                                <text> Nabíjení </text>
                                break;
                            case NowManualBatteryService.BatteryChargeDirection.Discharge:
                                <text> Vybíjení </text>
                                break;
                        }
                    </h5>
                    <button disabled="@(CurrentDirection == NowManualBatteryService.BatteryChargeDirection.Charge)"
                            @onclick="() => SetManualBattery(NowManualBatteryService.BatteryChargeDirection.Charge)">
                        Nabíjej
                    </button>
                    <button disabled="@(CurrentDirection == NowManualBatteryService.BatteryChargeDirection.Discharge)"
                            @onclick="() => SetManualBattery(NowManualBatteryService.BatteryChargeDirection.Discharge)">
                        Vybíjej
                    </button>
                    <button disabled="@(CurrentDirection == NowManualBatteryService.BatteryChargeDirection.None)"
                            @onclick="() => SetManualBattery(NowManualBatteryService.BatteryChargeDirection.None)">
                        Automat
                    </button>
                </div>
            }
            else
            {
                <H2>Manuálně řídit baterii je dostupné jen s licencí ManualBattery</H2>
            }
        </div>
        <div class="card">
            <H2>Ovládání výstupů je možné jen s rozšířením a licencí Outputs</H2>
             @if (GwStore.GoodWes.Any(x => x.Licence.HasFlag(LicenceVersion.Outputs)))
             {
                 <BitSetter BitOutput=Configuration.BitOutput1 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput2 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput3 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput4 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput5 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput6 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput7 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <BitSetter BitOutput=Configuration.BitOutput8 BitHandlers="BitHandlers.Select(x => x.Type)" GoodWees="GwStore.GoodWes.Where(x => x.Licence.HasFlag(LicenceVersion.Outputs)).Select(x => x.Sn)"/>
                 <button type="submit">Uložit</button>
             }
        </div>
        

    </EditForm>
}